---
import { formatDate } from "../utils/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";
import { Icon } from "astro-icon/components";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
  link?: string;
}>;

const { slug } = Astro.params;
const { frontmatter } = Astro.props;
---

<BasicLayout
  frontmatter={frontmatter}
  slug={slug}
  page="project"
  title={`${frontmatter.title} - João Marinho`}
  description={frontmatter.description}
>
  <main class="mx-auto max-w-3xl w-full h-screen p-8 text-neutral-100">
    <a
      href="/projects"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg mb-8"
      >Back</a
    >
    <div class="my-10">
      <h1 class="text-5xl font-semibold">
        {frontmatter.title}
        {
          frontmatter.link && (
            <a
              href={frontmatter.link}
              class="text-white hover:text-gray-400 inline-flex w-6 h-6"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="ri:links-fill" class="h-6" />
            </a>
          )
        }
      </h1>

      <div class="flex justify-between pt-4 text-gray-500 text-sm">
        <p>{formatDate(new Date(frontmatter.pubDate))}</p>
        <p>{frontmatter.minutesRead}</p>
      </div>
    </div>
    <article class="prose prose-p:text-red-500 prose-slate prose-invert">
      <slot />
    </article>
    <!-- Extra padding -->
    <div class="pb-20"></div>

    <button
      id="scrollToTopBtn"
      class="fixed bottom-8 right-8 bg-neutral-800 text-white rounded-full shadow-lg px-3 py-2 hover:bg-neutral-700 transition-opacity opacity-0 pointer-events-none"
    >
      ▲
    </button>
  </main>

  <script>
    const scrollToTopBtn = document.getElementById("scrollToTopBtn");
    const rootElement = document.documentElement;

    function handleScroll() {
      const scrollTotal = rootElement.scrollHeight - rootElement.clientHeight;
      if (scrollToTopBtn !== null) {
        if (rootElement.scrollTop / scrollTotal > 0.1) {
          scrollToTopBtn.classList.remove("opacity-0", "pointer-events-none");
          scrollToTopBtn.classList.add("opacity-100");
        } else {
          scrollToTopBtn.classList.add("opacity-0", "pointer-events-none");
          scrollToTopBtn.classList.remove("opacity-100");
        }
      }
    }

    function scrollToTop() {
      rootElement.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    }

    if (scrollToTopBtn !== null) {
      document.addEventListener("scroll", handleScroll);
      scrollToTopBtn.addEventListener("click", scrollToTop);
    }
  </script>
</BasicLayout>
